### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

## VS Code Config files:
.vscode

## Mac OS X metadata files:
*.DS_Store

### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.gz
*.synctex*
*.xdv
*.out.pyg

## BibTex files
*.bbl
*.bcf
*.blg
*.fdb_*
*-blx.bib
*.run.xml


## Intermediate documents:
*.dvi
*-converted-to.*

## ltr maps figure data:
figs/ltr_map_traj/data

## gimp files (huge)
*.xcf





